#img {
  display: block;
  margin: auto;
  height: 128px;
  width: 128px;
  padding: 2rem;
}

.menu {
  position: fixed;
  width: 100%;
  bottom: 16px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.menu div {
  flex: 1;
  text-align: center;
}

.menu div > button {
  border: none;
  padding: 0;
  height: 60px;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.image {
  height: 60px;
}

.container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


body {
  background: url(img/b.png);
  background-repeat: no-repeat;
  background-size: auto;
}

.newWindows {
  border: 2.5px solid black;
  width: 260px;
  height: 300px;
}

#upperBar {
  border-bottom: 2.5px solid black;
  width: 100%;
  height: 30px;
  background-color: #d5d5cb;
}

.windowsBody {
  background-color: #f6f6ec;
  width: 100%;
  height: 235px;
}

.username input {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 1.2rem;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 30%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
}

.username {
  padding-top: 60px;
}

.username button {
  margin-top: 5px;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #fff;
  background-color: #4eb5f1;
  text-align: center;
  transition: all 0.2s;
}

.bmiInput {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 1.2rem;
  padding: 1.5rem 2rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 20%;
  margin: 0 auto;
  height: 10px;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
}

.bmiButton {
  margin-top: 5px;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #fff;
  background-color: #4eb5f1;
  text-align: center;
  transition: all 0.2s;
  margin-left: 90px;
}

.windowsBottom {
  border-top: 2.5px solid black;
  width: 100%;
  height: 30px;
  background-color: #d5d5cb;
}

.drop {
  width: 100%;
  height: 600px;
  position: relative;
}

#chatImage {
  width: 100%;
  object-fit: contain;
  height: 100%;
  padding: 0;
}

#hangmanImage {
  width: 100%;
  object-fit: contain;
  height: 100%;
  padding: 0;
}

.windowsBody img {
  width: 24%;
  object-fit: contain;
  height: 23%;
}

.close {
  float: right;
}

.messageWindow {
  height: 175px;
  background-color: white;
  overflow: scroll;
  padding-left: 5px;
  display: none;
}

.inputArea {
  width: 252px;
  height: 30px;
  display: none;
}

.buttonSend {
  width: 100px;
  margin: 20px;
  margin-top: 1px;
  margin-left: 75px;
  display: none;
}

.smallIcon {
  height: 30px;
}
