#img {
  display: block;
  margin: auto;
  height: 128px;
  width: 128px;
  padding: 2rem;
}

.menu {
  position: fixed;
  width: 100%;
  bottom: 16px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.menu div {
  flex: 1;
  text-align: center;
}

.menu div > button {
  border: none;
  padding: 0;
  height: 60px;
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}

.image {
  height: 60px;
}

.container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


body {
  background: url(img/b.png);
  background-repeat: no-repeat;
  background-size: auto;
}

.newWindows{
  border: 2.5px solid black;
  width: 260px;
  height: 300px;  
}

#upperBar{
  border-bottom: 2.5px solid black;
  width: 100%;
  height: 30px;
  background-color: #d5d5cb;
}

.windowsBody{
  background-color: #f6f6ec;
  width: 100%;
  height: 235px; 
  
}

#windowsBottom{
  border-top: 2.5px solid black;
  width: 100%;
  height: 30px;
  background-color: #d5d5cb;
}

.drop{
  width: 100%;
  height: 600px;
  position: relative;

}


#chatImage{
  width: 100%;
  object-fit: contain;
  height: 100%;
  padding: 0;
}

#hangmanImage{
  width: 100%;
  object-fit: contain;
  height: 100%;
  padding: 0;
}

.windowsBody img {
  width: 25%;
  object-fit: contain;
  height: 25%;
  float: left;
}

.close{
  float: right;
}